body{
	/* this is the outermost element on your page*/
	background-color: #D8CC34;
	padding: 50px;
	width: 65%;
	font-family: sans-serif;
}

/* ------------- HEADERS ------------- */
	h1{
		font-size: 3rem;
		color: #002626;

		}

	h2{
		color: #002626;

		}

p{
	color: #002626;

	}

a{	
	color: #463239;

	}

/* ------------- LISTS ------------- */

	ul{	/* unordered list container */	

		}

	ol{	/* unordered list container */	

		}


	li{	/* list items */	
	
		}

#idname{
	/* an ID assignment begins with a #*/	
}

.classname{
	/* a class assignment begins with a .*/	
}

