body{
	/* this is the outermost element on your page*/
	background-color: #D8CC34;
	padding: 50px;
	max-width: 1300px;

	font-family: "obviously-variable", sans-serif;
	font-variation-settings: "wght" 200 900, "wdth" 50 200;

}

	}

/* ------------- HEADERS ------------- */
	h1{
		font-size: 2.5rem;
		color: #002626;
		font-variation-settings: "wght" 800;
		}

	h2{
		color: #002626;

		}

p{
	color: #002626;
	font-size: 1.1em;
	font-variation-settings: "wght" 410, "wdth" 90, "ital" 0;
	line-height: 1.4em;
	}

a{	
	color: #463239;

	}

/* ------------- LISTS ------------- */

	ul{	/* unordered list container */	

		}

	ol{	/* unordered list container */	

		}


	li{	/* list items */	
	
		}

#idname{
	/* an ID assignment begins with a #*/	
}

.classname{
	/* a class assignment begins with a .*/	
}

/* ------------- RESPONSIVE DESIGN ------------- */

@media (max-width: 1300px){
	body{
		width: 60%;
	}
}

@media (max-width: 800px){
	body{
		width: 80%;
	}
}